* {
  box-sizing: border-box;
}

.routesNav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.routesNav > * {
  display: inline-block;
}

.component {
  width: 100%;
  flex-grow: 1;
}
