/* ---- colours ---- */
/* .normal {
  background: linear-gradient(to top, #b4b49c, #9999);
}
.fighting {
  background: linear-gradient(to top, #f0412f, #9999);
}
.flying {
  background: linear-gradient(to top, #beedf4, #9999);
}
.poison {
  background: linear-gradient(to top, #a35b99, #9999);
  font-weight: 100;
}
.ground {
  background: linear-gradient(to top, #97604e, #9999);
}
.rock {
  background: linear-gradient(to top, #6a6a52, #9999);
}
.bug {
  border-left: 5px solid #5eb020;
  background: linear-gradient(to top, #5eb020, #9999);
}
.ghost {
  background: linear-gradient(to top, #36656d, #9999);
}
.steel {
  background: linear-gradient(to top, #b8b8d0, #9999);
}
.fire {
  background: linear-gradient(to top, #ea9420, #9999);
}
.water {
  background: linear-gradient(to top, #357f8c, #9999);
}
.grass {
  background: linear-gradient(to top, #07751e, #9999);
}
.electric {
  background: linear-gradient(to top, #f8d030, #9999);
}
.psychic {
  background: linear-gradient(to top, #f85888, #9999);
}
.ice {
  background: linear-gradient(to top, #98d8d8, #9999);
}
.dragon {
  background: linear-gradient(to top, #d96652, #9999);
}
.dark {
  background: linear-gradient(to top, dimgray, #9999);
}
.fairy {
  background: linear-gradient(to top, violet, #9999);
}
.unknown {
  background: linear-gradient(to top, #357f8c, #9999);
}
.shadow {
  background: linear-gradient(to top, darkblue, #9999);
} */

/* ---- emojis ---- */
.normal::before {
  content: "";
}
.bug::before {
  content: "🐛";
}
.dark::before {
  content: "🕶";
}
.dragon::before {
  content: "🐉";
}
.electric::before {
  content: "⚡";
}
.fairy::before {
  content: "🪄";
}
.flying::before {
  content: "🛫";
}
.fighting::before {
  content: "🥊";
}
.fire::before {
  content: "🔥";
}
.ghost::before {
  content: "👻";
}
.grass::before {
  content: "🌿";
}
.ground::before {
  content: "🌱";
}
.ice::before {
  content: "🧊";
}
.poison::before {
  content: "🧪";
}
.psychic::before {
  content: "🔮";
}
.rock::before {
  content: "🪨";
}
.shadow::before {
  content: "🦇";
}
.steel::before {
  content: "🔩";
}
.unknown::before {
  content: "❔";
}
.water::before {
  content: "🌀";
}

/* ---- bg-colours ---- */
.bGnormal {
  background-color: #b4b49c;
}
.bGbug {
  background-color: #5eb020;
}
.bGdark {
  background-color: dimgray;
}
.bGdragon {
  background-color: #d96652;
}
.bGelectric {
  background-color: #f8d030;
}
.bGfairy {
  background-color: #ee99ac;
}
.bGflying {
  background-color: #beedf4;
}
.bGfire {
  background-color: #ea9420;
}
.bGfighting {
  background-color: #f0412f;
}
.bGghost {
  background-color: #705898;
}
.bGgrass {
  background-color: #07751e;
}
.bGground {
  background-color: #97604e;
}
.bGice {
  background-color: #98d8d8;
}
.bGpoison {
  background-color: #663a60;
}
.bGpsychic {
  background-color: #f85888;
}
.bGrock {
  background-color: #6a6a52;
}
.bGshadow {
  background-color: #36656d;
}
.bGsteel {
  background-color: #b8b8d0;
}
.bGunknown {
  background-color: #68a090;
}
.bGwater {
  background-color: #357f8c;
}
