* {
  box-sizing: border-box;
}

.asd {
  width: 100vw;
}
.asd > * {
  display: inline-block;
}

.header {
  display: inline-block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 2rem;
  width: calc(20vw - 2rem);
  height: 100vh;
  background-color:/*hsl(80 87% 91%)*/ hsla(11, 80%, 60%, 0.9);
}
.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.asidemenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 2rem;
  height: 100vh;
  background-color: hsla(11, 90%, 50%, 0.9);
}
.asidemenu:hover {
  cursor: pointer;
}

.component {
  width: 100vw;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  padding: 0 3rem;
}

/* .navlinks {
    display: flex;
    width: 25%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  } */
.nonactive {
  text-decoration: none;
  color: hsla(48, 100%, 50%, 0.8);
}

.nonactive:hover {
  text-decoration: none;
  color: hsla(318, 92%, 28%, 0.8);
}
.active {
  text-decoration: none;
  color: rgb(0, 117, 190);
  font-size: 1.1em;
}
